html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #e4e4e4;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

div {
  box-sizing: border-box;
}

.quiz {
  width: 975px;
  margin: 0 auto;
  margin-top: 100px;
}

.question {
  background-color: #0094da;
  color: white;
  padding: 10px;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}
/* media question */
@media (max-width: 975px) {
  .question {
    width: 100%;
    font-size: 48px;
    text-align: center;
    text-justify: inter-word;
    padding-left: 40px;
    padding-right: 40px;

  }
}

.results {
  background-color: #fff;
  height: 300px;
  text-align: center;
}

.congratulations {
  background-color: #0094da;
  padding: 20px;
  font-size: 36px;
  color: #fff;
}

.results-info {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 18px;
}

.answer {
  width: 48%;
  background: #fff;
  border: 2px solid #0094da;
  min-height: 70px;
  cursor: pointer;
  margin-bottom: 30px;
  display: flex;
}

.answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

/* Responsive - answer & answers */
@media (max-width: 975px) {
  .answer{
     width: 85%;
  }
 /*  .answer-text {
    font-size: 39px;
  } */

  .answer-letter{
    font-size: 55px !important;
    
  }

  .answers {
    flex-direction: column;
    align-items: center;
    font-size: 20px;
  }
}


.answer-letter {
  font-size: 30px;
  background-color: #0084da;
  color: #fff;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.answer-text {
  margin: auto;
  width: 85%;
  border: 5px solid #aeae0a;
  padding: 10px;
  text-align: center !important;
  align-items: center;
}


.correct-answer {
  border: 2px solid #1ea55b;
}

.correct-answer .answer-letter {
  background: #1ea55b;
}

.wrong-answer {
  border: 2px solid #dc0a0a;
}

.wrong-answer .answer-letter {
  background: #dc0a0a;
}

.next-button {
  margin: 0 auto;
  color: #fff;
  background: #0b0e21;
  width: 300px;
  font-size: 18px;
  font-weight: 600;
  padding: 14px 75px;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
 
}
@media (max-width: 975px) {
  .next-button {
    width: 70%;
    height: 100px;
    padding-top: 30px;
    font-size: 38px;
    margin-top: 50px;
    
  }
}

.score {
  background: #fff;
  color: 000;
  font-size: 18px;
  width: fit-content;
  margin: 0 auto;
  font-weight: 600;
  height: 40px;
  margin-bottom: 30px;
  display: flex;
  padding: 40px;
  align-items: center;
  justify-content: center;
}

@media (max-width: 975px) {
  .score {
   
    font-size: 50px;
   
    
  }
}

.disabled-answer {
  pointer-events: none;
}
